!!!
%html
  %head
    %title= @page_title || "Sinatra, R18n, Ajax Test"
    %link{:rel => "stylesheet", :href => "stylesheet.css", :type => "text/css", :media => "screen"}
    %script{:type => "text/javascript", :src => "/jquery.js"}
    %script{:type => "text/javascript", :src => "/jquery.form.js"}
    %script{:type => "text/javascript", :src => "/ajax.js"}

  %body
    =yield
    
    %hr

    %a{:href => "/"} home
    &nbsp;
    %a{:href => "/test"} test
    &nbsp;
    %a{:href => "/form"} form
    &nbsp;
    
    &nbsp;&nbsp;&nbsp;|&nbsp;
    
    %a{:href => "?locale=de"} DE
    &nbsp;|&nbsp;
    
    %a{:href => "?locale=en"} EN
    &nbsp;|
